// dana
//noinspection ALL
@font-face {
  font-family: 'dana';
  font-style: normal;
  font-weight: 10;
  font-display: swap;
  src: url('/static/fonts/dana/eot/dana-fanum-thin.eot');
  src:
    url('/static/fonts/dana/eot/dana-fanum-thin.eot') format('embedded-opentype'),
    url('/static/fonts/dana/woff2/dana-fanum-thin.woff2') format('woff2'),
    url('/static/fonts/dana/woff/dana-fanum-thin.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+ */
}
//noinspection ALL
@font-face {
  font-family: 'dana';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/static/fonts/dana/eot/dana-fanum-extralight.eot');
  src:
    url('/static/fonts/dana/eot/dana-fanum-extralight.eot') format('embedded-opentype'),
    url('/static/fonts/dana/woff2/dana-fanum-extralight.woff2') format('woff2'),
    url('/static/fonts/dana/woff/dana-fanum-extralight.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+ */
}
//noinspection ALL
@font-face {
  font-family: 'dana';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/static/fonts/dana/eot/dana-fanum-light.eot');
  src:
    url('/static/fonts/dana/eot/dana-fanum-light.eot') format('embedded-opentype'),
    url('/static/fonts/dana/woff2/dana-fanum-light.woff2') format('woff2'),
    url('/static/fonts/dana/woff/dana-fanum-light.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+ */
}
//noinspection ALL
@font-face {
  font-family: 'dana';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/static/fonts/dana/eot/dana-fanum-medium.eot');
  src:
    url('/static/fonts/dana/eot/dana-fanum-medium.eot') format('embedded-opentype'),
    url('/static/fonts/dana/woff2/dana-fanum-medium.woff2') format('woff2'),
    url('/static/fonts/dana/woff/dana-fanum-medium.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+ */
}
//noinspection ALL
@font-face {
  font-family: 'dana';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/static/fonts/dana/eot/dana-fanum-demibold.eot');
  src:
    url('/static/fonts/dana/eot/dana-fanum-demibold.eot') format('embedded-opentype'),
    url('/static/fonts/dana/woff2/dana-fanum-demibold.woff2') format('woff2'),
    url('/static/fonts/dana/woff/dana-fanum-demibold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+ */
}
//noinspection ALL
@font-face {
  font-family: 'dana';
  font-style: normal;
  font-weight: 750;
  font-display: swap;
  src: url('/static/fonts/dana/eot/dana-fanum-ultrabold.eot');
  src:
    url('/static/fonts/dana/eot/dana-fanum-ultrabold.eot') format('embedded-opentype'),
    url('/static/fonts/dana/woff2/dana-fanum-ultrabold.woff2') format('woff2'),
    url('/static/fonts/dana/woff/dana-fanum-ultrabold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+ */
}
//noinspection ALL
@font-face {
  font-family: 'dana';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/static/fonts/dana/eot/dana-fanum-extrabold.eot');
  src:
    url('/static/fonts/dana/eot/dana-fanum-extrabold.eot') format('embedded-opentype'),
    url('/static/fonts/dana/woff2/dana-fanum-extrabold.woff2') format('woff2'),
    url('/static/fonts/dana/woff/dana-fanum-extrabold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+ */
}
//noinspection ALL
@font-face {
  font-family: 'dana';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/static/fonts/dana/eot/dana-fanum-black.eot');
  src:
    url('/static/fonts/dana/eot/dana-fanum-black.eot') format('embedded-opentype'),
    url('/static/fonts/dana/woff2/dana-fanum-black.woff2') format('woff2'),
    url('/static/fonts/dana/woff/dana-fanum-black.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+ */
}
//noinspection ALL
@font-face {
  font-family: 'dana';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('/static/fonts/dana/eot/dana-fanum-bold.eot');
  src:
    url('/static/fonts/dana/eot/dana-fanum-bold.eot') format('embedded-opentype'),
    url('/static/fonts/dana/woff2/dana-fanum-bold.woff2') format('woff2'),
    url('/static/fonts/dana/woff/dana-fanum-bold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+ */
}
//noinspection ALL
@font-face {
  font-family: 'dana';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/static/fonts/dana/eot/dana-fanum-regular.eot');
  src:
    url('/static/fonts/dana/eot/dana-fanum-regular.eot') format('embedded-opentype'),
    url('/static/fonts/dana/woff2/dana-fanum-regular.woff2') format('woff2'),
    url('/static/fonts/dana/woff/dana-fanum-regular.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+ */
}
