@import "src/styles/common";

.block, .blackBlock {
  border: 1px solid black;
  cursor: pointer;
}

.blackBlock {
  background-color: black !important;
}

.selectedBlock {
  background-color: #ccc;
}

.disabledBlock {
  cursor: auto;
}
